<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <RadzenTheme Theme="standard" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="social_V0.0.1.styles.css" />
    
    @* --- AGGIUNTO: LINK PER LE ICONE (Material Icons) --- *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <HeadOutlet />
</head>
<body>
    <Routes />
    
    <script src="_framework/blazor.web.js"></script>
    
    @* Script di Radzen ottimizzato *@
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>